// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  margin-top: 50px;
  text-align: center;
  background-color: #5B9279;
}

.letters {
  display: inline;
   border: 1px solid black;
   padding: 5px 10px;
   letter-spacing: 2px;
   background-color: #FFD23F;
   color: white;
   font-size: 35px;
   margin: 5px;
   border-radius: 5px;
}
